<p><a (click)="goBack()" style="cursor: pointer;">Go Back</a></p>
<div class="recipe panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ recipe.title }}</h3>
  </div>
  <div class="panel-body">
    <div class="cover-photo-holder" style="float: right;">
      <img src="{{ recipe.coverPhoto ? reciver.coverPhoto : '/assets/images/bownEmpty.jpeg' }}">
    </div>
    <p>{{ recipe.description }}</p>
    <div>
      <div style="float: left; font-weight: bold; width: 150px;">Preparation Time:</div>
      <div>{{ recipe.preparationTime }}</div>
      <div style="float: left; font-weight: bold; width: 150px;">Feeds how many:</div>
      <div>{{ recipe.preparationTime }}</div>
    </div>
  </div>

  <h1> Ingredients </h1>

  <ul>
    <li *ngFor="let ingredient of recipe.ingredients">
      {{ ingredient.ingredient }} ({{ ingredient.measure }})
    </li>
  </ul>

  <h1> Instructions </h1>

  <ul>
    <li *ngFor="let instruction of recipe.instructions">
      {{ instruction.instruction }}
    </li>
  </ul>
</div>