<div class="newrecipe panel panel-default">
  <div class="panel-heading">
      <h4>Add new Recipe</h4>
  </div>
  <div class="panel-body">
      <div class="input-group">
          <input type="text" style="width: 400px;" class="form-control" [(ngModel)]="recipe.title" placeholder="Recipe Title" name="title">
      </div>
      <div class="input-group">
          <textarea style="width: 400px;" class="form-control" [(ngModel)]="recipe.description" placeholder="Recipe Description"
              name="description" rows="5"></textarea>
      </div>
      <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="recipe.preparationTime" placeholder="Preparation Time" name="preparationTime"
          />
          <span class="input-group-addon">People</span>
      </div>
      <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="recipe.feedsMany" placeholder="Feeds Many" name="feedsMany">
          <span class="input-group-addon">Minutes</span>
      </div>

      <span class="input-group-btn">
          <button type="button" class="btn btn-default" (click)="addRecipe()">Add Recipe!</button>
      </span>
  </div>
</div>