<div class="newrecipe panel panel-default">
    <div class="panel-heading">
        <h4>Add new Recipe</h4>
    </div>
    <form [formGroup]="recipeForm">
        <div class="panel-body">
            <div class="form-group">
                <label class="center-block">Title:
                    <input style="width: 400px;" class="form-control" formControlName="title">
                </label>
            </div>

            <div class="form-group">
                <label class="center-block">Description:
                    <textarea style="width: 400px;" class="form-control" formControlName="description" rows="5"></textarea>
                </label>
            </div>

            <div class="form-group">
                <label class="center-block">Preparation Time:
                    <input style="width: 400px;" class="form-control" formControlName="preparationTime">
                </label>
            </div>

            <div class="form-group">
                <label class="center-block">Feeds how Many:
                    <input style="width: 400px;" class="form-control" formControlName="feedsMany">
                </label>
            </div>

            <div class="form-group">
                <label> Ingredients </label>
                <div formArrayName="ingredients">
                    <div class="ingredient" *ngFor="let item of recipeForm.get('ingredients').controls; let i = index;">
                        <div [formGroupName]="i">
                            <input style="width: 400px;" class="form-control" formControlName="ingredient">
                            <input style="width: 400px;" class="form-control" formControlName="measure">
                            <span (click)="onRemoveIngredient(i)" style="cursor: pointer; padding-left: 5px;">Remove</span>
                        </div>
                    </div>
                </div>
                <div class="add-ingredient">
                    <input type="button" value="Add" (click)="onAddIngredient()" style="width: 50px;">
                </div>
            </div>

            <!-- <div class="form-group">
                <label> Instructions </label>
                <div class="ingredient" *ngFor="let instruction of recipe.instructions; let i=index">
                    <input type="text" style="width: 40%;" placeholder="Instruction">
                    <span (click)="onRemoveInstruction(i)" style="cursor: pointer; padding-left: 5px;">Remove</span>
                </div>
                <div class="add-ingredient">
                    <input type="button" value="Add" (click)="onAddInstruction()" style="width: 50px;">
                </div>
            </div> -->

            <span class="input-group-btn">
                <button type="button" [disabled]="recipeForm.invalid" class="btn btn-default" (click)="saveRecipe()">Add Recipe!</button>
            </span>
        </div>
    </form>
</div>