<div class="recipes">
    <div style="width: 100%">
        <div style=" width: 80%; float: left; padding-left: 50px;">
            <h1 style="color: white">These are our Recipes!</h1>
        </div>

        <div style="float: left;; padding-top: 30px;">
            <span (click)="onCreate()" style="cursor: pointer; color: white;" class="glyphicon glyphicon-plus"></span>
        </div>
    </div>

    <p *ngIf="!loadingRecipes" style="font-weight: bold; max-width: 700px">Loading recipes...</p>
    <p *ngIf="loadingRecipes && !(recipes && recipes.length)" style="font-weight: bold; width: 250px; color: red">There is no Recipes. Add New Recipe!</p>

    <div *ngIf="loadingRecipes && (recipes && recipes.length)">
        <app-recipe-summary-component *ngFor="let recipe of recipes" (userClick)="userClickOnRecipe($event)" [recipe]="recipe" (zoomIn)="zoomIn(recipe)"></app-recipe-summary-component>
    </div>
</div>